.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.form-elements .btn{
    display: block;
    margin:0 auto;
}

