.records{
    display: flex;
    flex-direction: column;
    gap:50px;
    margin-top: 20px;
}

.record{
    background-color: rgb(235, 248, 246);
    width:100%;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(5, 5, 5, 0.25) 0px 2px 5px -1px;
    border-radius: 5px;
    position: relative;
}

.record h1{
    color:var(--primary)
}

.record .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    position: absolute;
    top:10px;
    right:10px;
}

.btns button img{
    width:40px;
    height:40px;
}
