nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(34, 57, 94);
    height:10vh;
    color: white;
}

.auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
 
}

.auth a{
       color:white
}

nav h1{
    color:azure;
}